@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">MVC opdracht CVO Antwerpen, Programmeren 3, gebruikmakend van het Entity FrameWork.</p>
    <p><a href="http://localhost:11565/Components" class="btn btn-primary btn-lg">Componenten &raquo;</a></p>
</div>

